<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">

    <uses-permission android:name="android.permission.INTERNET"/>

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="CineFAST"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.CineFast3">

        <activity
            android:name=".SplashActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>

        <activity android:name=".OnboardingActivity" android:exported="false"/>
        <activity android:name=".MainActivity" android:exported="false"/>

        <!-- Old activities can be removed later if not needed,
             but we must keep Splash, Onboarding, and MainActivity -->
        <activity android:name=".HomeActivity" android:exported="false"/>
        <activity android:name=".SeatSelectionActivity" android:exported="false"/>
        <activity android:name=".SnacksActivity" android:exported="false"/>
        <activity android:name=".SummaryActivity" android:exported="false"/>

    </application>

</manifest>
